body{
  background-color: black;
}

.content{
  display:flex;
  flex-direction: column;

  align-content: center;
}

.content p{
  color: white;
  font-family: "open_sanslight";
  text-align: center;
}

select {
  text-align: center;
}

.selection{
  text-align: center;
}