body{
  background-color: black;
}

.content{
  align-content: center;
  display:flex;
  flex-direction: column;
}

.content p{
  color: white;
  font-family: "open_sanslight";
  line-height: 3.5rem;
  text-align: center;
}

select {
  text-align: center;
}

.menu{
  text-align: center;
}