ul{
  list-style-type: none;
}
.grid{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  a {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display:flex;
    height: 100vw;
    position: relative;
    width: 100%;
    height: 0;
    p{
      padding-top: 0.5rem;
    }
    @include tablet{
    height: 45vw;
    width: 50%;
    }
    @include desktop{
    height: 20vw;
    width: 25%
    }
    &:hover {
      li{
      opacity: 1;
      height: 35%;
      transition: all 0.5s ease;
      }
    }
  }
  li {
    align-self: flex-end;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,.5));
    font-family: $bodyFontFamily;
    height: 35%;
    overflow: hidden;
    width: 100%;
    @include desktop{
    position: absolute;
    bottom: 0;
    }
  }
}

