/*Content Styles */
body{
  background-color: black;
  font-size: $baseFontSize;
}

.content{ //flex parent of section.menu and img
  align-content: center;
  display:flex;
  padding-top: 25vh; 
  flex-direction: column;
  p{
    color: white;
    font-family: "open_sanslight";
    font-size: 1.2rem; 
    padding: 1.5rem 0;
    text-align: center;
  }
  img {
    align-self: center;
    height: auto;
    width: $imgSize;
  }
  @include tablet {
    flex-direction: row;
    padding-left: 8rem;
  }
  @include desktop {
    padding-left: 2rem; 
  }
}

.menu{ 
  //flex child of content holding .dropdown and p
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 12rem;
}

.dropdown {
  margin: 0 auto;
  width: 8rem;
  @include tablet {
    height: 100%;
  }
}

.loading {
  margin: 0 auto;
  img {
    height: 10rem;
    padding: 1.5rem;
    width: 10rem;
  }
}

.copyright {
  color: grey;
  font-family: "open_sanslight";
  padding-top: 25vh;
  text-align: center;
  @include desktop {
    padding-left: 4rem;
    text-align: left;
  }
}