/*Content Styles */
body{
  background-color: black;
  display:flex;
  flex-direction: column;
  font-size: $baseFontSize;
  margin: 0 auto;
  max-width: 1600px;
}
a{
  text-decoration: none;
}
img {
  width: 100%;
}
header{ //flex parent of section.menu and div/img
  align-content: center;
  align-self: center;
  display:flex;
  height: 94vh;
  justify-content: center;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    padding-left: 1rem;
    width: 60%;
  }
  @include desktop {
    padding-left: 2rem;
    width: 100%;
  }
  p{
    color: white;
    font-family: "open_sanslight";
    font-size: 0.8rem; 
    line-height: 2.5rem;
    text-align: center;
  }
  p{
    font-size: 0.8rem;
    @include tablet {
      font-size: 0.9rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  .logo {
    align-self: center;
    animation: mobileEither 0.5s 1 normal linear;
    display:flex;
    height: auto;
    margin-bottom: 1rem;
    width: 100%;
    @include tablet {
      padding-right: 0;
    }
    @include desktop {
      padding-right: 5rem;
      width: 150px;
    }
  }
  .logo.no-news {
    @include tablet {
      animation: tabletNoNews 0.5s 1 normal linear; 
    }
    @include desktop {
      animation: desktopNoNews 0.5s 1 normal linear;
    }
  } 
}

.menu{ 
  //flex child of header, holding .dropdown and p
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 10rem;
}
.dropdown {
  margin: 0 auto;
  width: 8rem;
}