ul{
  list-style-type: none;
}
.grid{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  a {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display:flex;
    height: 120vw;
    position: relative;
    width: 100%;
    p{
      padding-top: 0.5rem;
    }
    @include tablet{
    height: 60vw;
    width: 50%;
      li{
        height: 20vw;
      }
    }
    @include desktop{
    height: 30vw;
    width: 25%;
      li{
        height: 0;
      }
      &:hover {
        li{
        opacity: 1;
        height: 10vw;
        transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  li {
    align-self: flex-end;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,.5));
    font-family: $bodyFontFamily;
    height: 40vw;
    overflow: hidden;
    width: 100%;
    @include desktop{
    position: absolute;
    bottom: 0;
    }
  }
}
